# ignoring...
# everything
*

# except the dotties
!.gitignore
!.vimrc
!.bashrc
!.inputrc
!.XCompose
!.bashrc.d
!.bashrc.d/bash_aliases

!.config

!.config/sway
!.config/sway/config

!.config/i3
!.config/i3/config

!.config/waybar
!.config/waybar/config
!.config/waybar/style.css

!.config/polybar
!.config/polybar/config.ini
!.config/polybar/launch.sh

!.config/yofi
!.config/yofi/yofi.config

!.config/mpd
!.config/mpd/mpd.conf

!.config/ncmpcpp
!.config/ncmpcpp/config

!.config/wpg/
!.config/wpg/sequences

!.config/vimium
!.config/vimium/vimium-options.json

!.config/rofi
!.config/rofi/config.rasi
!.config/rofi/theme.rasi

!.tintin
!.tintin/run.tin
