@define-color --fg #FFFFFF;
@define-color --bg #13100F;
@define-color --bga rgba(19, 16, 15, 0.7);
* {
 margin-top: 1;
 border: none;
 min-height: 0;
 }

/* Waybar main window */
window#waybar {
	background: rgba(249, 251, 255, 0.0);
	color: #ffffff;
	font-family: "Source Code Pro Semibold";
	font-size: 13px;
}

/* Workspaces */
#workspaces {
	background: @--bga;
	margin-left: 5px;
	border-radius: 30px 30px 30px 30px;
	padding: 0px 10px;
}
#workspaces button {
	color: #a3a3a3;
	padding: 0px 10px;
}
#workspaces button.focused {
	color: @--fg;
}

/* Tooltip */
tooltip {
 	background: @--bga;
  	border: 2px solid @--fg;
}
tooltip label {
	color: @--fg;
}
/* System tray */
#tray {
	background: rgba(249, 251, 255, 0.0);
	padding: 2px;
	margin: 0px 13px;
	border-radius: 0px;
	padding: 0px 15px;
}
#tray menu {
	background: @--bga;
	color: #91a8d0;
	border: 2px solid @--fg;
	border-radius: 6px;
}
#tray menu menuitem {
	font-family: Google Sans;
	font-size: 13px;
	padding-top: 5px;
}
#tray menu menuitem:hover {
	color: #8378c6;
	background: @--bga
}
/* MPD */
#custom-mpris {
	margin-left: 140px;
	background: @--bga;
	color: @--fg;
	padding: 2px;
	margin-left: 13px;
	border-radius: 30px;
	padding: 0px 25px;
}

/* Date */
#clock {
	background: @--bga;
	color: @--fg;
	padding: 2px;
	margin-left: 5px;
	border-radius: 30px;
	padding: 0px 10px;
}

/* Right side */
#bluetooth, #network, #pulseaudio, #cpu, #memory {
	background: @--bga;
	color: @--fg;
	padding: 2px 5px;
}
#bluetooth {
	border-radius: 0px 30px 30px 0px;
	padding-left: 0px;
	margin-right: 5px;
}
#network {
	border-radius: 0px 0px 0px 0px;
	padding-left: 4px;
}

#cpu {
	border-radius: 30px 0px 0px 30px;
	padding-right: 7px;
}
