@define-color --fg #E6E6E7;
@define-color --bg #020202;
@define-color --bga rgba(2, 2, 2, 0.8);
* {
 border: none;
 min-height: 0;
 margin: 0px;
 padding: 0px;
 font-family: Google Sans;
 font-size: 12px;
 }

/* Waybar main window */
window#waybar {
	background: rgba(249, 251, 255, 0.0);
	color: #ffffff;
	font-size: 12px;
}

/* Tooltip */
tooltip {
 	background: @--bga;
  	border: 2px solid @--fg;
}
tooltip label {
	color: @--fg;
}
/* System tray */
#tray {
	background: @--bga;
	margin: 0px 13px;
	border-radius: 30px;
}
#tray menu {
	background: @--bga;
	color: #91a8d0;
	border: 2px solid @--fg;
	border-radius: 6px;
}
#tray menu menuitem {
	font-family: Google Sans;
	font-size: 13px;
	padding-top: 5px;
}
#tray menu menuitem:hover {
	color: #8378c6;
	background: @--bga
}
/* MPD */
#custom-mpris {
	margin-left: 140px;
	background: @--bga;
	color: @--fg;
	padding: 2px;
	margin-left: 13px;
	border-radius: 30px;
}

/* Workspaces */
#workspaces {
	background: @--bga;
	margin-left: 0px;
	padding: 0px 10px;
	border-radius: 30px 30px 30px 30px;
}
#workspaces button {
	color: @--fg;
	padding: 0px 10px;
}
#workspaces button.focused {
	color: #DADADA;

}
/* Date */
#clock {
	background: @--bga;
	color: @--fg;
	border-radius: 30px;
	padding: 0px 10px;
}

/* Right side */
#bluetooth, #network, #pulseaudio, #battery, #backlight {
	background: @--bga;
	color: @--fg;
	padding: 0px 5px 0px 5px;
}
#bluetooth {
	border-radius: 0px 0px 0px 0px;
}
#network {
	border-radius: 30px 0px 0px 30px;
	padding: 0px 0px 0px 10px;
}
#battery {
	border-radius: 0px 30px 30px 0px;
	padding: 0px 10px 0px 0px;
}
#backlight {
	border-radius: 0px 0px 0px 0px;
	padding: 0px 10px 0px 0px;
}
